<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">
  <xacro:macro name="wpi_states">

    <group name="manipulator">
      <chain base_link="base_link" tip_link="tool0" />
    </group>

    <!--- Joint states for WPI project -->
    <group_state name="SQ_HOME" group="manipulator">
        <joint name="shoulder_pan_joint" value="-2.4143849508106996e-05" />
        <joint name="shoulder_lift_joint" value="-1.5707834523967286" />
        <joint name="elbow_joint" value="-1.5707731246948242" />
        <joint name="wrist_1_joint" value="-1.5707999668517054" />
        <joint name="wrist_2_joint" value="1.5708017349243164" />
        <joint name="wrist_3_joint" value="-4.593526021778871e-06" />
    </group_state>
    <group_state name="HOME" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.016715351735250294" />
        <joint name="shoulder_lift_joint" value="-0.2836788457683106" />
        <joint name="elbow_joint" value="-2.356358528137207" />
        <joint name="wrist_1_joint" value="-1.4509657186320801" />
        <joint name="wrist_2_joint" value="1.579394817352295" />
        <joint name="wrist_3_joint" value="-0.013127628956929982" />
    </group_state>
    <group_state name="NEUTRAL" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.3604588508605957" />
        <joint name="shoulder_lift_joint" value="-1.420044259434082" />
        <joint name="elbow_joint" value="-2.2847814559936523" />
        <joint name="wrist_1_joint" value="-0.4342268270305176" />
        <joint name="wrist_2_joint" value="1.2554874420166016" />
        <joint name="wrist_3_joint" value="0.31305932998657227" />
    </group_state>
    <group_state name="PLAYER2" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.26665639877319336" />
        <joint name="shoulder_lift_joint" value="-1.8051821194090785" />
        <joint name="elbow_joint" value="-2.034064292907715" />
        <joint name="wrist_1_joint" value="0.34633366643872066" />
        <joint name="wrist_2_joint" value="-0.03805858293642217" />
        <joint name="wrist_3_joint" value="0.3135519027709961" />
    </group_state>
    <group_state name="PLAYER1" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.11232167879213506" />
        <joint name="shoulder_lift_joint" value="-1.7565003834166468" />
        <joint name="elbow_joint" value="-2.057131767272949" />
        <joint name="wrist_1_joint" value="0.6232778269001464" />
        <joint name="wrist_2_joint" value="1.4163565635681152" />
        <joint name="wrist_3_joint" value="0.31358814239501953" />
    </group_state>
    <group_state name="SELF" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.26809120178222656" />
        <joint name="shoulder_lift_joint" value="-1.865319391290182" />
        <joint name="elbow_joint" value="-1.801976203918457" />
        <joint name="wrist_1_joint" value="0.36732785284008784" />
        <joint name="wrist_2_joint" value="2.6439433097839355" />
        <joint name="wrist_3_joint" value="0.31374406814575195" />
    </group_state>
    <group_state name="DESTROY" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.5662307739257812" />
        <joint name="shoulder_lift_joint" value="-1.7401963673033656" />
        <joint name="elbow_joint" value="-1.8022165298461914" />
        <joint name="wrist_1_joint" value="-1.0880296987346192" />
        <joint name="wrist_2_joint" value="1.5349698066711426" />
        <joint name="wrist_3_joint" value="0.3135037422180176" />
    </group_state>
    <group_state name="A1_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.006334781646728516" />
        <joint name="shoulder_lift_joint" value="-2.3914677105345667" />
        <joint name="elbow_joint" value="-1.258011817932129" />
        <joint name="wrist_1_joint" value="-0.5308645528605958" />
        <joint name="wrist_2_joint" value="1.4975295066833496" />
        <joint name="wrist_3_joint" value="0.036032676696777344" />
    </group_state>
    <group_state name="A2_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.0068988800048828125" />
        <joint name="shoulder_lift_joint" value="-2.2170101604857386" />
        <joint name="elbow_joint" value="-1.5842618942260742" />
        <joint name="wrist_1_joint" value="-0.3791120809367676" />
        <joint name="wrist_2_joint" value="1.4974455833435059" />
        <joint name="wrist_3_joint" value="0.03616476058959961" />
    </group_state>
    <group_state name="A3_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.006466865539550781" />
        <joint name="shoulder_lift_joint" value="-2.0564362011351527" />
        <joint name="elbow_joint" value="-1.8691587448120117" />
        <joint name="wrist_1_joint" value="-0.2547004979899903" />
        <joint name="wrist_2_joint" value="1.4978289604187012" />
        <joint name="wrist_3_joint" value="0.03554105758666992" />
    </group_state>
    <group_state name="A4_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.013646125793457031" />
        <joint name="shoulder_lift_joint" value="-1.8995934925475062" />
        <joint name="elbow_joint" value="-2.1261892318725586" />
        <joint name="wrist_1_joint" value="-0.15490706384692388" />
        <joint name="wrist_2_joint" value="1.4944372177124023" />
        <joint name="wrist_3_joint" value="0.0417027473449707" />
    </group_state>
    <group_state name="B1_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.11341315904726201" />
        <joint name="shoulder_lift_joint" value="-2.4383918247618617" />
        <joint name="elbow_joint" value="-1.1689863204956055" />
        <joint name="wrist_1_joint" value="-0.5692899984172364" />
        <joint name="wrist_2_joint" value="1.5586738586425781" />
        <joint name="wrist_3_joint" value="-0.06696540514101201" />
    </group_state>
    <group_state name="B2_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.12818652788271123" />
        <joint name="shoulder_lift_joint" value="-2.262007852593893" />
        <joint name="elbow_joint" value="-1.5024795532226562" />
        <joint name="wrist_1_joint" value="-0.41210825861010747" />
        <joint name="wrist_2_joint" value="1.5663557052612305" />
        <joint name="wrist_3_joint" value="-0.08018428484071904" />
    </group_state>
    <group_state name="B3_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.14783221880067998" />
        <joint name="shoulder_lift_joint" value="-2.1042329273619593" />
        <joint name="elbow_joint" value="-1.787318229675293" />
        <joint name="wrist_1_joint" value="-0.28521521509204106" />
        <joint name="wrist_2_joint" value="1.5766024589538574" />
        <joint name="wrist_3_joint" value="-0.09724265733827764" />
    </group_state>
    <group_state name="B4_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.17357427278627569" />
        <joint name="shoulder_lift_joint" value="-1.9567305050291957" />
        <joint name="elbow_joint" value="-2.0366315841674805" />
        <joint name="wrist_1_joint" value="-0.18383772790942388" />
        <joint name="wrist_2_joint" value="1.5899767875671387" />
        <joint name="wrist_3_joint" value="-0.11949187914003545" />
    </group_state>
    <group_state name="C1_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.22917253175844365" />
        <joint name="shoulder_lift_joint" value="-2.5122887096800746" />
        <joint name="elbow_joint" value="-1.025111198425293" />
        <joint name="wrist_1_joint" value="-0.6416643422893067" />
        <joint name="wrist_2_joint" value="1.6178312301635742" />
        <joint name="wrist_3_joint" value="-0.16639739671816045" />
    </group_state>
    <group_state name="C2_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.2551687399493616" />
        <joint name="shoulder_lift_joint" value="-2.327989240685934" />
        <joint name="elbow_joint" value="-1.378230094909668" />
        <joint name="wrist_1_joint" value="-0.47425730646166997" />
        <joint name="wrist_2_joint" value="1.631141185760498" />
        <joint name="wrist_3_joint" value="-0.18934804597963506" />
    </group_state>
    <group_state name="C3_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.2920339743243616" />
        <joint name="shoulder_lift_joint" value="-2.1721636257567347" />
        <joint name="elbow_joint" value="-1.6647024154663086" />
        <joint name="wrist_1_joint" value="-0.34600336969409184" />
        <joint name="wrist_2_joint" value="1.6499614715576172" />
        <joint name="wrist_3_joint" value="-0.22149640718568975" />
    </group_state>
    <group_state name="C4_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.33612090746034795" />
        <joint name="shoulder_lift_joint" value="-2.030581613580221" />
        <joint name="elbow_joint" value="-1.911219596862793" />
        <joint name="wrist_1_joint" value="-0.24486620843920903" />
        <joint name="wrist_2_joint" value="1.6724557876586914" />
        <joint name="wrist_3_joint" value="-0.25991756120790654" />
    </group_state>
    <group_state name="D1_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.3345735708819788" />
        <joint name="shoulder_lift_joint" value="-2.6189075909056605" />
        <joint name="elbow_joint" value="-0.8139448165893555" />
        <joint name="wrist_1_joint" value="-0.7535570424846192" />
        <joint name="wrist_2_joint" value="1.6712932586669922" />
        <joint name="wrist_3_joint" value="-0.2572367827044886" />
    </group_state>
    <group_state name="D2_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.37302905717958623" />
        <joint name="shoulder_lift_joint" value="-2.4187027416624964" />
        <joint name="elbow_joint" value="-1.2034082412719727" />
        <joint name="wrist_1_joint" value="-0.5682743352702637" />
        <joint name="wrist_2_joint" value="1.6905665397644043" />
        <joint name="wrist_3_joint" value="-0.2913139502154749" />
    </group_state>
    <group_state name="D3_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.4219477812396448" />
        <joint name="shoulder_lift_joint" value="-2.26047482113027" />
        <joint name="elbow_joint" value="-1.4999380111694336" />
        <joint name="wrist_1_joint" value="-0.4359443944743653" />
        <joint name="wrist_2_joint" value="1.7149944305419922" />
        <joint name="wrist_3_joint" value="-0.3345759550677698" />
    </group_state>
    <group_state name="D4_Up" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.4840338865863245" />
        <joint name="shoulder_lift_joint" value="-2.126092573205465" />
        <joint name="elbow_joint" value="-1.7402753829956055" />
        <joint name="wrist_1_joint" value="-0.33909113824877934" />
        <joint name="wrist_2_joint" value="1.7456364631652832" />
        <joint name="wrist_3_joint" value="-0.38965350786318" />
    </group_state>
    <group_state name="D4_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.48401004472841436" />
        <joint name="shoulder_lift_joint" value="-2.1576672993102015" />
        <joint name="elbow_joint" value="-1.7510786056518555" />
        <joint name="wrist_1_joint" value="-0.2967117589763184" />
        <joint name="wrist_2_joint" value="1.7457432746887207" />
        <joint name="wrist_3_joint" value="-0.38978606859316045" />
    </group_state>
    <group_state name="D3_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.42451554933656865" />
        <joint name="shoulder_lift_joint" value="-2.2838574848570765" />
        <joint name="elbow_joint" value="-1.5180463790893555" />
        <joint name="wrist_1_joint" value="-0.39486391962084966" />
        <joint name="wrist_2_joint" value="1.7164082527160645" />
        <joint name="wrist_3_joint" value="-0.3370593229876917" />
    </group_state>
    <group_state name="D2_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.3754528204547327" />
        <joint name="shoulder_lift_joint" value="-2.436184068719381" />
        <joint name="elbow_joint" value="-1.2261724472045898" />
        <joint name="wrist_1_joint" value="-0.5282972616008301" />
        <joint name="wrist_2_joint" value="1.6918368339538574" />
        <joint name="wrist_3_joint" value="-0.2936185042010706" />
    </group_state>
    <group_state name="D1_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.33662444749941045" />
        <joint name="shoulder_lift_joint" value="-2.6272579632201136" />
        <joint name="elbow_joint" value="-0.8495187759399414" />
        <joint name="wrist_1_joint" value="-0.709827260380127" />
        <joint name="wrist_2_joint" value="1.6723957061767578" />
        <joint name="wrist_3_joint" value="-0.2592232863055628" />
    </group_state>
    <group_state name="C1_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.23110849062074834" />
        <joint name="shoulder_lift_joint" value="-2.5246273479857386" />
        <joint name="elbow_joint" value="-1.0551176071166992" />
        <joint name="wrist_1_joint" value="-0.599414662723877" />
        <joint name="wrist_2_joint" value="1.6189336776733398" />
        <joint name="wrist_3_joint" value="-0.16822606721986944" />
    </group_state>
    <group_state name="C2_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.25951987901796514" />
        <joint name="shoulder_lift_joint" value="-2.349934240380758" />
        <joint name="elbow_joint" value="-1.395695686340332" />
        <joint name="wrist_1_joint" value="-0.4350918096354981" />
        <joint name="wrist_2_joint" value="1.6334891319274902" />
        <joint name="wrist_3_joint" value="-0.19328052202333623" />
    </group_state>
    <group_state name="C3_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.29714996019472295" />
        <joint name="shoulder_lift_joint" value="-2.198087354699606" />
        <joint name="elbow_joint" value="-1.6829729080200195" />
        <joint name="wrist_1_joint" value="-0.3023098272136231" />
        <joint name="wrist_2_joint" value="1.6528010368347168" />
        <joint name="wrist_3_joint" value="-0.22616416612734014" />
    </group_state>
    <group_state name="C4_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.34638768831361944" />
        <joint name="shoulder_lift_joint" value="-2.062345167199606" />
        <joint name="elbow_joint" value="-1.9288644790649414" />
        <joint name="wrist_1_joint" value="-0.1964739126018067" />
        <joint name="wrist_2_joint" value="1.6777653694152832" />
        <joint name="wrist_3_joint" value="-0.2690499464618128" />
    </group_state>
    <group_state name="B4_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.17327481905092412" />
        <joint name="shoulder_lift_joint" value="-1.9882532558836878" />
        <joint name="elbow_joint" value="-2.0618696212768555" />
        <joint name="wrist_1_joint" value="-0.12705214441333013" />
        <joint name="wrist_2_joint" value="1.590024471282959" />
        <joint name="wrist_3_joint" value="-0.11949187914003545" />
    </group_state>
    <group_state name="B3_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.1461547056781214" />
        <joint name="shoulder_lift_joint" value="-2.1324216328062953" />
        <joint name="elbow_joint" value="-1.8061399459838867" />
        <joint name="wrist_1_joint" value="-0.2382219594768067" />
        <joint name="wrist_2_joint" value="1.5759310722351074" />
        <joint name="wrist_3_joint" value="-0.09605724016298467" />
    </group_state>
    <group_state name="B2_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.12689286867250615" />
        <joint name="shoulder_lift_joint" value="-2.281102319756979" />
        <joint name="elbow_joint" value="-1.5286226272583008" />
        <joint name="wrist_1_joint" value="-0.3669174474528809" />
        <joint name="wrist_2_joint" value="1.565840721130371" />
        <joint name="wrist_3_joint" value="-0.07923633257021123" />
    </group_state>
    <group_state name="B1_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="-0.1114586035357874" />
        <joint name="shoulder_lift_joint" value="-2.458212991754049" />
        <joint name="elbow_joint" value="-1.1864233016967773" />
        <joint name="wrist_1_joint" value="-0.5320347112468262" />
        <joint name="wrist_2_joint" value="1.5577750205993652" />
        <joint name="wrist_3_joint" value="-0.0655139128314417" />
    </group_state>
    <group_state name="A1_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.008038043975830078" />
        <joint name="shoulder_lift_joint" value="-2.4181271992125453" />
        <joint name="elbow_joint" value="-1.263899803161621" />
        <joint name="wrist_1_joint" value="-0.4984453481486817" />
        <joint name="wrist_2_joint" value="1.4968223571777344" />
        <joint name="wrist_3_joint" value="0.03731489181518555" />
    </group_state>
    <group_state name="A2_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.00884103775024414" />
        <joint name="shoulder_lift_joint" value="-2.2454172573485316" />
        <joint name="elbow_joint" value="-1.5951147079467773" />
        <joint name="wrist_1_joint" value="-0.33991797388110356" />
        <joint name="wrist_2_joint" value="1.4965949058532715" />
        <joint name="wrist_3_joint" value="0.03761482238769531" />
    </group_state>
    <group_state name="A3_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.009979248046875" />
        <joint name="shoulder_lift_joint" value="-2.09023441890859" />
        <joint name="elbow_joint" value="-1.8813486099243164" />
        <joint name="wrist_1_joint" value="-0.20887263238940434" />
        <joint name="wrist_2_joint" value="1.4962711334228516" />
        <joint name="wrist_3_joint" value="0.03835773468017578" />
    </group_state>
    <group_state name="A4_Down" group="manipulator">
        <joint name="shoulder_pan_joint" value="0.011752605438232422" />
        <joint name="shoulder_lift_joint" value="-1.9367782078185023" />
        <joint name="elbow_joint" value="-2.147677421569824" />
        <joint name="wrist_1_joint" value="-0.09607489526782231" />
        <joint name="wrist_2_joint" value="1.4956474304199219" />
        <joint name="wrist_3_joint" value="0.03974771499633789" />
    </group_state>


  </xacro:macro>
</robot>
